/* styles.css */

.container {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: #ffffff;
    margin: auto;
    width: 100%;

    padding: 10px;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}

body {
    font-family: Arial, sans-serif;


    margin: auto;
    min-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: normal;
}

.heading {

    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

}

table {

    width: fit-content;
    border-collapse: collapse;
    color: white;


}

th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

h1{
    width: fit-content;
    height: auto;

    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: center;
}
label {
    color: white;
}
h2{
    width: fit-content;
    border-collapse: collapse;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: center;
}
.img{
    max-width: 100%;
    height: auto;
}

.center {
    display: block;
    margin: auto;
    width: 50%;
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    animation: blink 1s;
    animation-iteration-count: infinite;
}

ul{
    list-style-type: none;
}
.navButton{
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #7f7b7f;
    text-decoration: none;
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}



.contentBack{
    z-index: 0;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.contentBack video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentFront{
    position: relative;
    z-index: 3; /* Set the z-index higher than the behind div */
    max-width: 100%;
    height: auto;
}


.navbar {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.menu-button {
    align-items: center;
    display: none; /* Oletuksena piilossa isoilla näytöillä */
    font-family: Arial, sans-serif;
    font-weight: bold;

    background-color: #25501d;
    text-shadow: #dddddd;
    padding: 8px 16px;
    opacity: 1;
    border: #7f7b7f;
    cursor: pointer;
    border-radius: 30%;

}

.menu {
    display: none; /* Oletuksena piilossa pienellä näytöllä */
}

@media screen and (max-width: 768px) {
    .menu-button {
        display: block; /* Show menu button on smaller screens */
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #25501d;
        text-shadow: #dddddd;
        padding: 8px 16px;
        opacity: 1;

        cursor: pointer;
        border-radius: 20%;
    }

    .hidden {
        display: none;
    }

    .navbar {
        justify-content: center; /* Adjust alignment for menu button */
    }
}

.post {
    margin-bottom: 3rem;
    padding: 2rem;
    border: 3px solid #000000;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("tausta.jpg");
}