/* styles.css */

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

}

table {

    width: fit-content;
    border-collapse: collapse;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */

}

th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}




video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.calendar-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.selected-dates-container {
    margin-bottom: 20px;
}

.selected-dates-container p {
    margin: 5px 0;
}

.trips-container {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.trips-container h2 {
    margin-bottom: 10px;
}

.trip-name {
    font-weight: bold;
}

.trip-dates {
    margin-left: 10px;
}

