/* styles.css */

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-image: url("forestgif.gif");
    background-size: cover;
    //background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: normal;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

}

table {

    width: fit-content;
    border-collapse: collapse;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */

}

th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
innerDiv {
    padding-top: 50px;
    
}